include mixin

mixin social(innerHTML, href)
	li
		a.unstyled.gray(href=href rel="noopener noreferrer" target="_blank")=innerHTML

footer
	div
		a.logo.left(href='//zenithdevs.com' rel="noopener noreferrer" target='_blank')
			+logo(22)
			br
			.title Zenith
			.subtitle © 2017-2020
		.right
			ul.unstyled
				+social("Twitter", "//twitter.com/ZenithDevs")
				+social("Discord", "//discord.gg/nD4Azx3")
				+social("GitHub", "//github.com/ZenithDevs")