include mixin

nav
	a.brand(href="/")
		+logo(44)
	.items
		a(href="/", class=activePage == "home" ? 'active' : null) Home
		a(href="projects.html", class=activePage == "projects" ? 'active' : null) Projects